@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700&family=Nunito:wght@300;400;600;700&family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

/*
    HTML standard color names: https://www.w3schools.com/colors/colors_names.asp
*/

html {
    font-family: "Mulish", "Nunito Sans", "Nunito", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(255, 204, 213); // #ffccd5
    --secondary-color: rgb(255, 244, 243); // 98%
    --alt-color: rgb(230, 213, 188);
    --lightest-color: rgba(255, 248, 248, 1);
    --lighter-color: rgba(255, 235, 235, 1);
    --light-color: rgba(255, 224, 224, 1);
    --gray-color: rgba(150, 150, 150, 1);
    --dark-color: rgb(120, 120, 120);
    --darker-color: rgba(80, 80, 80, 1);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(255, 204, 214, 0.30);
    --navbar-s-color: rgba(255, 204, 214, 0.45);
    // 92%
    --head-background-color: rgb(255, 214, 222);

    --shadow-color: rgba(16, 16, 16, 0.15);
    --shadow-glow-color: rgba(255, 192, 203, 0.25);
    --glow-color: rgba(255, 240, 243, 0.40);
    --footer-color: rgb(246, 247, 248);

    transition: background-color 0.65s;
}

html.theme_deep-space {
    font-family: "Mulish", "Nunito Sans", "Nunito", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(16, 64, 128);
    --secondary-color: rgb(4, 8, 16);
    --alt-color: rgba(168, 107, 188, 1);
    --lightest-color: rgb(8, 10, 12);
    --lighter-color: rgb(64, 64, 64);
    --light-color: rgb(120, 120, 120);
    --gray-color: rgba(150, 150, 150, 1);
    --dark-color: rgb(180, 180, 180);
    --darker-color: rgb(220, 220, 220);
    --darkest-color: rgb(235, 235, 235);

    --navbar-color: rgba(32, 32, 64, 0.40);
    --navbar-s-color: rgba(16, 16, 64, 0.20);
    --head-background-color: rgb(4, 8, 24);
    --shadow-color: rgba(160, 160, 160, 0.30);
    --shadow-glow-color: rgba(200, 200, 235, 0.30);
    --glow-color: rgba(200, 200, 235, 0.40);
    --footer-color: rgb(0, 0, 32);

    transition: background-color 0.65s;
}

html.theme_cloudy {
    font-family: "Mulish", "Nunito Sans", "Nunito", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgb(201, 218, 248);
    --secondary-color: rgb(250, 252, 255);
    --alt-color: rgba(240, 225, 204, 1);
    --lightest-color: rgb(253, 254, 255);
    --lighter-color: rgb(242, 242, 242);
    --light-color: rgb(232, 232, 232);
    --gray-color: rgba(150, 150, 150, 1);
    --dark-color: rgb(120, 120, 120);
    --darker-color: rgb(80, 80, 80);
    --darkest-color: rgb(32, 32, 32);

    --navbar-color: rgba(186, 208, 247, 0.30);
    --navbar-s-color: rgba(186, 208, 247, 0.45);
    --head-background-color: var(--primary-color);
    --shadow-color: rgba(16, 16, 16, 0.15);
    --shadow-glow-color: rgba(201, 218, 248, 0.25);
    --glow-color: rgba(228, 244, 251, 0.40);
    --footer-color: rgb(222, 234, 252);

    transition: background-color 0.65s;
}

html.theme_blue {
    font-family: "Mulish", "Nunito Sans", "Nunito", sans-serif;
    background-color: var(--secondary-color);

    --primary-color: rgba(176, 215, 230, 1); // #b0d7e6
    --secondary-color: rgb(250, 253, 254, 1); // 99%
    --alt-color: rgba(116, 214, 162, 1); // 84%
    --lightest-color: rgba(253, 253, 254, 1); // 99+%
    --lighter-color: rgba(242, 242, 242, 1);
    --light-color: rgba(232, 232, 232, 1);
    --gray-color: rgba(150, 150, 150, 1);
    --dark-color: rgba(120, 120, 120, 1);
    --darker-color: rgba(80, 80, 80, 1);
    --darkest-color: rgba(32, 32, 32, 1);

    --navbar-color: rgba(170, 212, 228, 0.35); // 78% HS L --primary-color
    --navbar-s-color: rgba(170, 212, 228, 0.40); // 78% HS L --primary-color
    --head-background-color: rgba(189, 221, 234); // 83% HS L --primary-color
    --shadow-color: rgba(16, 16, 16, 0.12);
    --shadow-glow-color: rgba(189, 221, 234, 0.25); // 83% HS L --primary-color
    --glow-color: rgba(228, 244, 251, 0.40);
    --footer-color: rgba(246, 247, 248, 1);

    transition: background-color 0.65s;
}

.hidden {
    display: none;
}

.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.copyright {
    width: 100%;
    padding: 1.50rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        color: var(--darkest-color);
    }
}

.text-underline {
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 90%; // distance from the bottom
        left: 0;
        background: var(--alt-color);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 1s infinite;
}

.title-text {
    font-size: 2.75rem;
    font-weight: 600;
    color: var(--darkest-color);

    span {
        color: var(--primary-color);

        &#inner {
            color: var(--lighter-color);
        }
    }

    @media screen and (max-width: 480px) {
        font-size: 2.5rem;
        margin-left: 0;
    }
}

.subtitle-text {
    font-size: 1.80rem;
    font-weight: 500;
    text-align: center;
    color: var(--darkest-color);

    transition: color 0.35s;

    span {
        color: var(--primary-color);
    }

    @media screen and (max-width: 480px) {
        font-size: 1.75rem;
    }
}

.p-text {
    font-size: 1.1rem;
    color: var(--darker-color);
    line-height: 1.70;

    transition: color 0.50s;

    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }
}

.text {
    font-size: 1.2rem;
    color: var(--darkest-color);
    line-height: 1.80;
    font-weight: 400;

    transition: color 0.50s;

    @media screen and (max-width: 480px) {
        font-size: 1.10rem;
    }
}

.ctext {
    color: var(--darkest-color);
    line-height: 1.75;
    font-weight: 400;

    transition: color 0.50s;

    @media screen and (max-width: 480px) {
        font-size: 1.10rem;
    }
}

.bold-text {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--darkest-color);
    text-align: left;

    transition: color 0.50s;

    @media screen and (max-width: 480px) {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .copyright {
        padding: 2rem;
    }
}